<div class="panel panel-default">
	<div class="panel-heading">修改清单 <span class="pull-right hidden-xs"><%= list_title_tag(@list) %></span> </div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
</div>